html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

ol,
ul {
  list-style: none;
}

ul {
  padding: 0 20px;
  font-size: 14px;
}

ul li {
  margin: 10px 0 0 10px;
}

li {
  list-style-image: url('../assets/img/puce.svg');
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 700;
}

section {
  padding: 65px 0;
}

button {
  cursor: pointer;
}

button.learn-more,
button.read-more {
  width: 130px;
  height: 45px;
  background: #be3a34;
  line-height: 45px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  border: none;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.1px;
  cursor: pointer;
  transition: all 0.2s linear;
  border: 1px solid #be3a34;
}

button.learn-more:hover,
button.read-more:hover {
  background: white;
  color: #be3a34;
}

button.download {
  background: #979797;
  margin: 20px auto 0 auto;
  border: 1px solid #979797;
}

button.download:hover {
  color: #979797;
  background: white;
}

.arrow {
  width: 10px;
  height: 10px;
  border-top: 2px solid white;
  border-right: 2px solid white;
  transform: rotate(45deg);
}

.title-line {
  height: 3px;
  background-color: #be3a34;
  width: 120px;
  margin: 20px 0;
}

.sub-content {
  display: flex;
  margin-top: 70px;
  justify-content: space-between;
  transition: height 1s ease-in-out, padding 1s ease-in-out;
  height: 0;
  overflow-y: hidden;
}

.sub-content .menu-container {
  z-index: 3;
}

.sub-content .description-container {
  width: 600px;
  position: relative;
  height: fit-content;
  z-index: 2;
}

.sub-content .description-container > .description {
  position: absolute;
  top: 0;
  left: -100%;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  text-align: justify;
}

.sub-content .description-container .description.active {
  left: 0;
  opacity: 1;
}

.sub-content .description-container .description.out {
  left: 100%;
}

span.adress a {
  color: #be3a34;
  font-weight: bold;
  cursor: pointer;
}

.gmap-container .menu,
.sub-content .menu {
  width: 280px;
}

.gmap-container .menu button,
.sub-content .menu button {
  height: 65px;
  background: #be3a34;
  border: 1px solid #be3a34;
  border-top-color: white;
  border-bottom: none;
  width: 100%;
  font-size: 16px;
  color: white;
  text-align: left;
  padding-left: 22px;
  padding-right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gmap-container .menu button:last-child,
.sub-content .menu button:last-child {
  border-bottom: 1px solid #be3a34;
}

.gmap-container .menu button .arrow,
.sub-content .menu button .arrow {
  margin-right: 20px;
}

.gmap-container .menu .title.button,
.sub-content .menu .title.button {
  font-size: 20px;
  text-transform: uppercase;
  background: #555555;
  border: 1px solid #555555;
}

.gmap-container .menu button:not(.title):hover,
.sub-content .menu button:not(.title):hover,
.gmap-container .menu button:not(.title).active,
.sub-content .menu button:not(.title).active {
  background: white;
  color: #be3a34;
  border-color: #be3a34;
}

.gmap-container .menu button:not(.title):hover .arrow,
.sub-content .menu button:not(.title):hover .arrow,
.gmap-container .menu button:not(.title).active .arrow,
.sub-content .menu button:not(.title).active .arrow {
  border-color: #be3a34;
}

.gmap-container .menu .menu button.title,
.sub-content .menu button.title {
  cursor: auto;
}

.sub-content .description {
  text-align: left;
  font-size: 16px;
  line-height: 20px;
}

.sub-content .description img {
  max-width: 100%;
}

.sub-content .description .title-line {
  margin: 10px 0 20px 0;
}

.sub-content img.partners {
  display: inline-block;
  width: 32%;
}

.sub-content .member,
.news-details-container {
  width: 98%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  border-bottom: 4px solid #be3a34;
  padding: 50px 25px;
  margin-bottom: 40px;
}

.sub-content .member .pic {
  width: 150px;
  height: 170px;
  background: #3d3d3d;
  background-size: cover;
  margin: 0 30px 25px 0;
  float: left;
  overflow: hidden;
}

.sub-content .member .pic img {
  width: 100%;
}

.sub-content .member .name,
.news-details-container .name {
  color: #be3a34;
}

.sub-content .member .description,
.news-details-container .description {
  width: 100%;
  text-align: justify;
}

.sub-content .member .description h3,
.news-details-container .description h3 {
  text-align: left;
}

button:focus {
  outline: none;
}

header {
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.content {
  max-width: 945px;
  margin: auto;
  width: 100%;
}

header .content {
  height: 100%;
  display: flex;
  align-items: center;
}

header .menu-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

header .logo img {
  height: 80px;
}

header .menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: black;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.35px;
  text-transform: uppercase;
  align-items: center;
}

header .menu .button {
  cursor: pointer;
}

header .menu .button:hover {
  color: #be3a34;
}

header .menu .button-line {
  height: 3px;
  background: black;
  transition: left 0.5s ease-in-out, width 0.5s ease-in-out;
  position: absolute;
}

header .search.button {
  width: 48px;
  height: 48px;
  background-image: url('../assets/img/loupe_b.svg');
  cursor: pointer;
}

header .search.button:hover {
  background-image: url('../assets/img/loupe.svg');
}

section.welcome {
  max-height: 100vh;
  min-height: 645px;
  background: url('../assets/img/BANNIERE_HEADER-FINAL.jpg');
  background-size: cover;
  background-position: 50%;
  position: relative;
  padding-top: 0;
}

.welcome .pusher {
  height: 20vh;
  min-height: 100px;
  max-height: 250px;
}

.welcome .layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #03326c;
  opacity: 0.35;
  z-index: 1;
}

.welcome .intro {
  width: 365px;
  color: white;
  position: relative;
  z-index: 2;
}

.welcome .intro h1 {
  font-weight: 700;
  font-size: 50px;
  line-height: 54px;
}

.welcome .intro p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

section.company {
  text-align: center;
}

.company h1 {
  color: #3d3d3d;
}

.company .title-line {
  margin: 20px auto 40px auto;
}

.company p {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 0.1px;
  line-height: 20px;
  color: #1b1b1b;
}

.company .learn-more {
  margin-top: 20px;
}

section.products:not(.sub) {
  height: 500px;
  background-image: url('../assets/img/PRODUCT-V2-FINAL.jpg');
  background-size: cover;
  background-position: 50%;
  color: #fefefe;
  text-align: center;
}

section.products:not(.sub) .title-line {
  background-color: white;
  margin: 20px auto;
}

.products:not(.sub) .products-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.products:not(.sub) .product {
  width: 50%;
  padding: 50px;
}

.products:not(.sub) .product p {
  text-align: justify;
  min-height: 100px;
}

.products:not(.sub) .read-more {
  border: 1px solid white;
  background: none;
  color: white;
}

.products:not(.sub) .read-more:hover {
  background: white;
  color: #be3a34;
}

section.products.sub {
  padding: 0;
}

section.products.sub .sub-content {
  margin-top: 0;
}

section.support {
  text-align: center;
  background: url('../assets/img/SUPPORT-FINAL.jpg');
  background-size: cover;
  background-position: 50%;
  color: white;
}

section.support .title-line {
  margin: 0 auto 40px auto;
}

section.support .sub-content {
  margin-top: 0;
}

section.support-sub {
  padding: 0;
}

section.support-sub .sub-content {
  margin: 0;
}

section.sales h1 {
  text-align: center;
}

section.sales .title-line {
  margin: 0 auto 50px auto;
}

section.sales .gmap-container {
  display: flex;
}

section.sales .gmap {
  width: 100%;
  position: relative;
}

section.sales #map {
  height: 100%;
}

section.sales .coming {
  position: absolute;
  display: none;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

section.news {
  text-align: center;
}

.news .title-line {
  margin: 20px auto;
}

.news .news-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 50px;
}

.news .news-container > div.news {
  width: 50%;
}

.news .news-container .little {
  height: 33%;
  width: 85%;
  padding: 5% 0;
  display: flex;
  align-items: center;
}

.news .news-container .little:first-child {
  padding: 0 0 5% 0;
}

.news .news-container .little .image {
  width: 100px;
  height: 100px;
  background: black;
  background-size: cover;
  background-position: 50%;
}

.news .news-container .little:not(:first-child) {
  border-top: 1px solid #e6e6e6;
}

.news .news-container .description {
  text-align: left;
  padding-left: 20px;
}

.news-container .news:not(.big) .description {
  width: 65%;
}

.news .news-container .description span {
  font-size: 14px;
  font-weight: 700;
  color: #979797;
}

.news .news-container .description p {
  color: #be3a34;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.news.big .image {
  margin-bottom: 20px;
  text-align: left;
}

.news.big .image img {
  width: 90%;
}

.news.big .description {
  padding-left: 0;
  width: 100%;
}

.news-details-container {
  width: 98%;
}

.news-details-container .pic {
  width: 235px;
  height: 170px;
  background: #3d3d3d;
  background-size: cover;
  margin: 0 20px 10px 0;
  float: left;
  overflow: hidden;
}

.news-details-container .pic img {
  width: 100%;
}

section.careers {
  background: url('../assets/img/CAREER-FINAL.jpg');
  background-size: cover;
  background-position: 50%;
  color: white;
  text-align: center;
}

section.careers h1.secondary {
  text-align: left;
  margin-top: 50px;
}

section.careers .title-line {
  margin: 0 auto 40px auto;
}

section.careers .title-line.secondary {
  margin-left: 0;
}

section.careers-sub {
  padding: 0;
}

section.careers-sub .sub-content {
  margin: 0;
}

section.careers-sub .description.jobs .title-line {
  margin: 10px 0 40px 0;
}

section.careers-sub .description.jobs .job {
  width: 280px;
  height: 240px;
  background-image: url('../assets/img/job.png');
  background-size: cover;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  position: relative;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

section.careers-sub .description.jobs .job-container {
  display: flex;
  justify-content: space-between;
}

section.careers-sub .description.jobs .job-container.first {
  margin-bottom: 50px;
}

section.careers-sub .description.jobs .job-container .overlay {
  background: rgb(190, 58, 52, 0.9);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 115px;
  transition: height 0.3s ease-in-out;
  font-size: 25px;
  line-height: 28px;
  font-weight: bold;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

section.careers-sub .description.jobs .job:hover .overlay {
  height: 100%;
}

section.careers-sub .description.jobs .job .learn-more {
  background: none;
  border: 1px solid white;
  color: white;
  height: 0;
  width: 130px;
  opacity: 0;
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

section.careers-sub .description.jobs .job a {
  height: 0;
  transition: height 0.3s ease-in-out;
}

section.careers-sub .description.jobs .job:hover .learn-more,
section.careers-sub .description.jobs .job:hover a {
  height: 45px;
  opacity: 1;
}

section.careers-sub .description.jobs p {
  color: #be3a34;
  margin-top: 40px;
}

section.contact .content {
  text-align: center;
}

section.contact .content > .title-line {
  margin: auto;
}

section.contact form {
  width: 100%;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  padding: 30px 40px;
  text-align: left;
  border-bottom: 4px solid #be3a34;
}

section.contact form button {
  margin-top: 25px;
  float: right;
}

section.contact form h2 {
  margin-bottom: 20px;
}

section.contact form .ui.message {
  display: none;
}

section.contact form .actions {
  display: flex;
  justify-content: space-between;
}

section.contact input,
section.contact textarea {
  color: #3d3d3d;
  background-color: #e6e6e6;
  border: none;
  width: 100%;
}

section.contact textarea {
  padding: 2%;
}

section.contact input {
  height: 50px;
  line-height: 50px;
  padding: 0 2%;
  margin-bottom: 25px;
}

section.contact input.middle {
  width: 48.3%;
}

section.contact input.middle:first-of-type {
  margin-right: 25px;
}

section.contact .contact-container,
section.contact .left,
section.contact .right {
  display: flex;
}

section.contact .contact-container {
  justify-content: space-between;
  text-align: left;
  padding: 70px 0 50px 0;
}

section.contact .contact-container .title-line {
  width: 80px;
  margin: 15px 0;
}

section.contact .adress {
  width: 170px;
  margin-left: 40px;
  font-weight: 300;
  margin-top: 30px;
}

section.contact .adress.border {
  border-right: 1px solid #e6e6e6;
}

section.contact .emails {
  margin-top: 30px;
  margin-left: 40px;
  font-weight: 300;
  line-height: 15px;
}

section.contact .emails span {
  font-weight: 500;
  color: #be3a34;
}

footer {
  padding-top: 50px;
  height: 330px;
  background-color: #be3a34;
  color: white;
}

footer .content {
  height: 100%;
}

footer .main {
  height: 90%;
  display: flex;
  justify-content: space-between;
}

footer .main .contact {
  width: 490px;
  display: flex;
}

footer .contact-description {
  padding-top: 30px;
}

footer .contact-logo {
  margin-right: 30px;
}

footer .main .title-line {
  background: #ffffff;
}

footer .content .credits {
  align-self: flex-end;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
